.btn-primary {
  background-image: linear-gradient(
    to right,
    #18e618 0%,
    #01b7ff 51%,
    #ff512f 100%
  );
}
.btn-primary {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;

  border: none;
}

.btn-primary:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
